<p>
	<ul>
		<li><strong>What does PartLister do?</strong><br>PartLister lets you create a project and list all the parts you used for the project. It tallies the total cost and lets other users vote for projects they like. The idea is to make sharing your build easily and without having to type out the same thing many times. If you are real keen, maybe you build so much stuff you forget whats in there. </li>
		<li><strong>Who can use PartLister?</strong><br>PartLister can be used by anyone - you don't even have to sign up! But if you don't, you can't vote or build up a fleet under your own username.</li>
    <li><strong>Why does PartLister exist?</strong><br>I kept noticing people asking for and sharing the list of parts they used for an RC build. How boring to type all that stuff out over and over. Now, you create your project and then can link to it. People can view your parts, where you got them from and how much it cost.</li>
		<li><strong>I can't vote!</strong><br>Are you signed in? To vote, you have to sign up and then be signed in. You can only vote for a project once and sorry... no taksies backsies. </li>
    <li><strong>I don't have a multi-rotor but want to share my parts.</strong><br><%= link_to "Let me know", "https://plus.google.com/109159496881679410875" %>.</li>
		<li><strong>Why can't I add parts to or edit my project?</strong><br>Did you sign up for an account? If not, I only allow changes to a project for 60 minutes after its creation time. Once that time elapses, its sealed up. I also record the IP that created the project and ensure the person is still within the window and from that IP. Sign up if you are having trouble and these restrictions are lifted.</li>
		<li><strong>Help, I forgot my password.</strong><br>Awkward. I haven't had time to implement a password recovery feature. Right now, sign up again and re-create your projects. If you have a few, <%= link_to "let me know", "https://plus.google.com/109159496881679410875" %> and I'll help.</li>
		<li><strong>Can I comment on a build?</strong><br>Sorry, butt no. I'd recommend heading over to <%= link_to "the multicopter subreddit", "http://www.reddit.com/r/multicopter" %> and link to your build there.</li>
		<li><strong>What has changed?</strong><br>I try to update <%= link_to "this list", '/update' %>.</li>
	</ul>
</p>

<%= render partial: 'shared/footer' %>

