<%= form_for @part, html: { class: 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, class: 'text_field' %>
      <span class="help-inline">enter the part name</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :quantity, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :quantity, class: 'number_field' %>
      <span class="help-inline">enter the quantity of this part</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :link, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :link, class: 'text_field' %>
      <span class="help-inline">optional link to your part</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :cost, class: 'control-label' %>
    <div class="controls">
      <%= f.number_field :cost, class: 'number_field' %>
      <span class="help-inline">enter the single cost of this part</span>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), part_path(@part), :class => 'btn' %>
  </div>
<% end %>
